.monitor {
    margin: 0 auto;
    width: 780px;
    height: 305px;
    background-color: #11586c;
    margin-top: 100px;
    border: 10px solid black;
    border-radius: 5px;
}

.monitor h2 {
    color: #29d529;
}

.loop {
    width: 800px;
    height: 20px;
    margin: 0 auto;
}

.loop_1 {
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
    margin-left: 20px;
    width: 50px;
    height: 20px;
    background-color: black;
}

.loop_2 {
    display: inline-block;
    border-radius: 0 10px 10px 0;
    width: 50px;
    height: 20px;
    background-color: grey;
}

.loop_3 {
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
    margin-left: 550px;
    width: 50px;
    height: 20px;
    background-color: grey;
}

.loop_4 {
    display: inline-block;
    border-radius: 0 10px 10px 0;
    width: 50px;
    height: 20px;
    background-color: black;
}

.input1 {
    display: flex;
    justify-content: center;
}

#inp {
    width: 300px;
    height: 30px;
    margin-top: 15px;
}

#basis {
    border: 1px solid grey;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    background: linear-gradient(90deg, #AECD33, #CD27C5, #1B6ECD);
}

.f,
.digit,
.letter-1,
.letter-2,
.letter-3,
.symbol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.buttoN {
    margin-top: 1px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    background-color: black;
    color: white;
}

.f div {
    height: 35px;
    width: 48px;
    text-align: center;
}

.digit div:nth-child(12) {
    text-align: center;
}

.digit div:nth-child(14) {
    width: 100px;
    font-size: 12pt;
    text-align: center;
}

.letter-1 div:nth-child(1) {
    width: 80px;
}

.letter-1 div:nth-child(14) {
    width: 90px;

}

.letter-2 div:nth-child(1) {
    width: 90px;
}

.letter-2 div:nth-child(13) {
    width: 130px;
    text-align: right;
}

.letter-3 div:nth-child(1) {
    width: 115px;
}

.letter-3 div:nth-child(12) {
    width: 150px;
    text-align: right;
}

.div-space {
    width: 430px;
    text-align: center;
}


.f div:nth-child(1) {
    color: yellow;
    text-align: center;
}

.symbol {
    text-align: center;
}


span {
    text-align: right;
    padding-left: 30px;
}


.colY {
    background-color: yellow;
}